@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@layer components {
  .card_foreground {
    @apply bg-card flex justify-center items-center
    w-screen h-screen;
  }
  .card_layout {
    @apply bg-white rounded-[16px]
    flex shadow-2xl;
  }
  .card_form_layout {
    @apply w-[30rem] py-[2rem] px-[3.5rem];
  }
  .card_form_field {
    @apply flex flex-col mt-[1rem] w-full;
  }
  .card_label_form {
    @apply ml-[10px] text-[13px];
  }
  .card_input_field {
    @apply outline-none w-full bg-transparent;
  }
  .card_input_border {
    @apply border-gray-200 rounded-[0.3rem]
    border-solid border-[1px] px-[1rem] py-[0.8rem]
    bg-gray-100 cursor-text;
  }
  .btn {
    @apply flex justify-center items-center 
    border-none rounded-[6px] transition-colors;
  }
  .btn_submit {
    @apply w-full py-[0.6rem];
  }
  .card_footer_form {
    @apply flex items-center w-full justify-center
    text-[14px];
  }
}
